@font-face {
  src: url("../font/Open_Sans/static/OpenSans-Bold.ttf") format("truetype");
  font-family: "OpenSans-Bold";
  font-weight: bold;
}
@font-face {
  src: url("../font/Open_Sans/static/OpenSans-SemiBold.ttf")
    format("truetype");
  font-family: "OpenSans-SemiBold";
  font-weight: bold;
}
@font-face {
  src: url("../font/Open_Sans/static/OpenSans-Regular.ttf")
    format("truetype");
  font-family: "OpenSans";
  font-weight: normal;
}
