@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flexLeftCenter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@mixin card {
  height: 380px;
  width: 100%;
  padding: 46px;
  border-radius: 5px;
}

@mixin transitionEase {
  transition: all 0.6s ease-in-out;
}

@mixin button($bg) {
  background: $bg;
  font-family: OpenSans;
  font-size: $font-size-regular;
  color: $light;
  border-radius: 30px;
  padding: 14px 34px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border: 1px solid $bg;
  text-transform: capitalize;
  &:hover {
    background-color: transparent;
    border: 1px solid $bg;
    color: $bg;
  }
}

@mixin breakpoint($points) {
  @media (max-width: $points) {
    @content;
  }
}
