@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flexLeftCenter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@mixin margin-lr-auto {
  margin-inline: auto;
}

@mixin card {
  height: 350px;
  width: 100%;
  padding: 46px;
  border-radius: 5px;
}

@mixin transitionEase {
    transition: all 0.6s ease-in-out;
}
@mixin breakpoint($points) {
  @media (max-width: $points) {
    @content;
  }
}
