$primary: #004dff;
$success: #1dc679;
$muted: #45454592;
$dark: #000000;
$light: #ffffff;
$yellow: #ff9f00;
$gray:#f6f7f9;

$colors: (
  "primary": #004dff,
  "success": #1dc679,
  "muted": #45454592,
  "dark": #000000,
  "light": #ffffff,
  "yellow": #ff9f00,
  "gray":#f6f7f9,
);

$base-margin: 10px;

$z-index-high : 10;
$z-index-md : 5;
$z-index-low : 2;

$font-size-xl: 44px;
$font-size-md: 32px;
$font-size-md-2: 24px;
$font-size-regular:18px;
$font-size-small:14px;


