nav {
  position: absolute;
  top: 0px;
  z-index: $z-index-high;
  width: 100%;
  margin: auto;
  &.navbar-theme {
    position: fixed;
    top: 0;
    z-index: $z-index-high;
    background-color: $primary;
    @include transitionEase;
  }
  .nav_box {
    @include flexBetween;
  }
}
.burger_btn {
  visibility: hidden;
}

.nav_menus {
  @include flexBetween;
  .nav_menu__item {
    position: relative;
    cursor: pointer;
    font-family: OpenSans-Bold;
    font-weight: 400;
    font-size: $font-size-small;
    a {
      text-decoration: none;
      color: $light;
    }
    &:not(:last-child) {
      margin-right: 40px;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0px;
      top: 24px;
      width: 0%;
      height: 2px;
      margin: 0 auto;
      background-color: $light;
      transition: all 0.3s ease-in-out;
    }
    &:hover::after {
      width: 100%;
      transition: all 0.3s ease-in-out;
    }
  }
}
.nav_wrapper {
  position: relative;
  width: 100%;
  @include flexBetween;
  &.container {
    padding: 24px 20px;
  }
  a img {
    margin-right: 50px;
    width: 160px;
    height: auto;
  }
}
.nav_right_sec {
  width: 100%;
  @include flexBetween;
}
.nav_icon_sec {
  a {
    cursor: pointer;
    svg {
      width: 25px;
      height: auto;
      path {
        fill: $light;
      }
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
@include breakpoint(map-get($breakpoints, "laptop")) {
  .nav_wrapper {
    a {
      img {
        margin-right: 20px;
      }
    }
  }
  .nav_menus {
    .nav_menu__item {
      font-size: $font-size-small;
      &:not(:last-child) {
        margin-right: 14px;
      }
    }
  }
  .nav_icon_sec {
    a {
      &:not(:last-child) {
        margin-right: 14px;
      }
    }
  }
}

@include breakpoint(map-get($breakpoints, "tablet")) {
  .burger_btn {
    cursor: pointer;
    visibility: visible;
    position: absolute;
    top: 38px;
    right: 28px;
    z-index: 12;
    width: 28px;
    height: 2px;
    background-color: $light;
    @include transitionEase;

    &::before {
      position: absolute;
      content: "";
      width: 28px;
      height: 2px;
      top: -8px;
      background-color: $light;
      @include transitionEase;
    }
    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 2px;
      top: 8px;
      background-color: $light;
      @include transitionEase;
    }
    &.open {
      transform: rotate(720deg);
      @include transitionEase;
      background-color: transparent;
      &::before {
        transform: rotate(45deg) translate(5px, 8px);
      }
      &::after {
        width: 28px;
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
  .nav_wrapper {
    a {
      img {
        width: 135px;
      }
    }
    &.container {
      padding:20px;
    }
  }
  .nav_right_sec {
    background-color: $light;
    position: absolute;
    top: 78px;
    left: 0px;
    height: 94vh;
    width: 100%;
    flex-direction: column;
    @include transitionEase;
    transform: translate(-150%);
    &.open {
      @include transitionEase;
      transform: translate(0%);
    }
  }
  .nav_menus {
    flex-direction: column;
    width: 100%;
    .nav_menu__item {
      margin: 30px;
      width: 100%;
      text-align: center;
      a {
        color: $primary;
      }
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
 
  .nav_icon_sec {
    margin: auto;
    @include flexCenter;
    flex-direction: column;
    a {
      cursor: pointer;
      margin: 20px !important;
      svg path {
        fill: $primary;
      }
    }
  }
}
