.hero {
  height: 100vh;
  max-height: 660px;
  width: 100%;
  position: relative;
  &.hero_bg {
    background-image: url("../images/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero_content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $light;
    .hero_title {
      font-family: OpenSans-Bold;
      font-size: $font-size-xl;
      font-weight: bold;
    }
    .hero_desc {
      font-family: OpenSans-Bold;
      font-size: $font-size-regular;
      font-weight: bold;
    }
    .hero_search {
      background-color: $light;
      @include flexCenter;
      justify-content: flex-start;
      max-width: 500px;
      padding: 18px 30px;
      border-radius: 10px;
      .search_flex {
        @include flexBetween;
      }
      li {
        &:not(:last-child) {
          margin-right: 20px;
        }
        select {
          background-color: transparent;
          color: $muted;
          min-width: 100px;
          &:focus {
            border: none;
            outline: none;
          }
        }
        input {
          color: $muted;
          width: 300px;
          display: inline-block;
          font-size: $font-size-small;
          font-family: OpenSans;
          &:focus {
            border: none;
            outline: none;
          }
        }
        svg {
          height: 14px;
          width: 14px;
          margin-right: 10px;
          path {
            fill: $muted;
          }
        }
      }
    }
  }

  @include breakpoint(map-get($breakpoints, "tablet")) {
    .hero_content {
      .hero_search {
        li {
          input {
            margin: 0px 20px;
            width: 80%;
          }
        }
      }
    }
  }
  @include breakpoint(map-get($breakpoints, "mobile")) {
    .hero_content {
      padding: 0px 20px;
      .hero_title {
        font-size: $font-size-md;
        line-height: 1.4;
      }
      .hero_desc {
        font-size: $font-size-small;
      }
      .hero_search {
        width: 90%;
        padding: 20px 10px;
        flex-direction: column;
        gap: 10px;
        .search_flex{
            width: 100%;
        }
        li {
            &:not(:last-child) {
                margin-right: 0px;
              }
          input {
            margin: 0px 5px;
            width: 90%;
          }
        }
      }
    }
  }
}
