.home_sale_sec {
  position: relative;
  background-image: url("../images/Home@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    padding: 130px 0px;
  }
  .villa_sale_card {
    width: 50%;
    background-color: $light;
    padding: 50px;
    border-radius: 5px;
    .btn-primary {
      @include button($primary);
    }
    @include transitionEase;
    .btn-sale {
      @include button($yellow);
      border-radius: 5px;
      padding: 6px 20px;
      font-size: $font-size-small;
    }
    .villa_heading {
      font-family: OpenSans-semiBold;
      font-size: $font-size-md;
      font-weight: normal;
    }
    .villa_price {
      font-family: OpenSans-Bold;
      font-size: $font-size-md-2;
      font-weight: bold;
    }
    .villa_address {
      font-family: OpenSans;
      font-size: $font-size-regular;
    }
    .villa_facilities {
      font-family: OpenSans;
      ul {
        max-width: 350px;
        @include flexBetween;
        li {
          margin-right: 10px;
          font-size: $font-size-regular;
          @include flexBetween;
          &:last-child svg {
            height: 22px;
          }
        }
        span {
          svg {
            width: 30px;
            height: 30px;
            margin-right: 5px;
            path {
              fill: $dark;
            }
            :hover{
              path{
                fill:$primary;
              }
            }
          }
        }
      }
    }
    @include breakpoint(map-get($breakpoints, "laptop")) {
      width: 60%;
    }
    @include breakpoint(map-get($breakpoints, "tablet")) {
      width: 80%;
      padding: 32px;
      margin-inline: auto;
      .villa_heading {
        font-size: $font-size-regular;
      }
      .villa_price {
        font-size: $font-size-regular;
      }
      .villa_address {
        font-size: $font-size-small;
      }
      .villa_facilities {
        ul {
          li {
            span {
              font-size: $font-size-small;
            }
          }
        }
      }
    }
    @include breakpoint(map-get($breakpoints, "mobile")) {
      width: 90%;
      padding: 20px;
      .villa_heading {
        font-size: $font-size-regular;
      }
      .villa_price {
        font-size: $font-size-regular;
      }
      .villa_address {
        font-size: $font-size-small;
      }
      .villa_facilities {
        ul {
          flex-direction: column;
          li {
            span {
              font-size: $font-size-small;
            }
          }
        }
      }
    }
  }
  @include breakpoint(map-get($breakpoints, "laptop")) {
    .container {
      padding: 100px 20px;
    }
  }
  @include breakpoint(map-get($breakpoints, "mobile")) {
    .container {
      padding: 80px 0px;
    }
  }
  .villa_detail_card {
    @extend .villa_sale_card;
    padding: 20px 50px;
    @include flexBetween;
    font-family: OpenSans;
    img {
      width: 80px;
      height: auto;
      margin-right: 26px;
      border-radius: 10px;
    }
    ul {
      margin-right: auto;
      li {
        line-height: 1;
        &:not(:last-child) {
          font-size: $font-size-regular;
        }
        &:last-child {
          font-size: $font-size-small;
        }
      }
    }
    @include breakpoint(map-get($breakpoints, "mobile")) {
      width: 90%;
      padding: 20px;
      margin-inline: auto;
      gap: 24px;
      img,
      ul {
        margin: auto;
      }
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}
