.sell_property {
    position: relative;
  .sell_wrapper {
    @include flexBetween;
    align-items: flex-start;
    .sell_card {
     @include transitionEase;
      @include card;
      flex-direction: column;
      h3 {
        font-family: OpenSans-Bold;
        font-size: $font-size-xl;
        font-weight: bold;
        line-height: 1.2;
        max-width: 380px;
      }
      .card_text {
        font-family: OpenSans;
        font-size: $font-size-regular;
        line-height: 1.4;
        max-width: 330px;
        color: $muted;
      }
      &:last-child {
        p {
          color: $light;
        }
      }
      &:not(:last-child) {
        margin-right: 36px;
      }
    }

    @include breakpoint(map-get($breakpoints, "laptop")) {
        .sell_card{
            height: 420px;
        }
    }
    @include breakpoint(map-get($breakpoints, "tablet")) {
        flex-direction: column;
        .sell_card{
            height: 100%;
            margin-block: 20px;
            h3{
                max-width: 100%;
                font-size: $font-size-md;
            }
            &:not(:last-child) {
                margin-right: 0px;
              }
        }
    }
    @include breakpoint(map-get($breakpoints, "mobile")) {
        flex-direction: column;
        .sell_card{
            padding: 28px 16px;
            height: 100%;
            margin-block: 20px;
            h3{
                font-size: $font-size-md;
            }
            .card_text{
                font-size: $font-size-small;
            }
            &:not(:last-child) {
                margin-right: 0px;
              }
        }
    }
  }
}
